# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
*.local

# Log files
*.log*

# IDE/Editor specific
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.idea/

# OS specific
.DS_Store
Thumbs.db