# Build output
dist/

# Dependencies
node_modules/

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE/Editor specific
.vscode/
.idea/

# Logs
*.log*

# File generati da OS
.DS_Store
Thumbs.db

# Eventuali altri file generati o non gestiti
# Esempio: coverage/